*{
    margin: 0;
}
h1{
    color: green;
    font-size: 6rem;
    text-align: center;
}
p{
    background-color: black;
    color: white;
    font-size: 3rem;
    text-align: center;
    padding: 1.5rem 2rem;
}