*{
    margin: 0;
}
h1{
    color: green;
    font-size: 6rem;
    text-align: center;
}
p{
    background-color: black;
    color: white;
    font-size: 3rem;
    text-align: center;
    padding: 1.5rem 2rem;
}
button{
    padding: 15px 32px;
    border-radius: 10px;
    border: none;
    background-color: green;
    margin-top: 20px;
    color: white;
    font-size: 16px;
    box-shadow: 2px 2px 3px 5px lightgray;
    cursor: pointer;
}
div{
    text-align: center;
}
div button:hover{
    background-color: black;
    transform: scale(1.09);
}